<!-- <div class="spaced">
  {{ hellowWorld + " - " + title }}
</div>
<hr />
<div class="spaced">
  <button (click)="incrementClicked()">Click me</button>
  {{ "This button was clicked " + clicked + " times" }}
  <div *ngIf="clicked > 5">You have clicked more then 5 times</div>
  <br />
  <input type="number" [(ngModel)]="clicked" />
</div>
<div class="spaced">
  <button (dblclick)="incrementDoubleClicked()">Double click me</button>
  {{ "This button was double clicked " + doubleClicked + " times" }}
</div>

<div class="spaced" *ngIf="willShowBlock">
  This is the conditionol displayed black
</div>

<div class="spaced">
  <div *ngFor="let number of valuesToLoop; let i = index">
    This is index {{ i }} of the array of random numbers {{ number }}
  </div>
</div>

<div
  [ngClass]="tooltipInfo.willShow ? 'tooltip-color' : ''"
  class="block-of-color"
  (contextmenu)="toggleContextMenu(true, $event)"
  (mouseenter)="onMouseMove(true, $event)"
  (mouseleave)="onMouseMove(false, $event)"
  (mousemove)="onMouseMove(true, $event)"
></div>

<div
  *ngIf="contextMenuInfo.willShow"
  class="context-menu"
  [style.left.px]="contextMenuInfo.pageX"
  [style.top.px]="contextMenuInfo.pageY"
  (click)="contextClick()"
>
  This is the contextmenu
</div>

<div
  *ngIf="tooltipInfo.willShow"
  class="context-menu"
  [style.left.px]="tooltipInfo.pageX - 55"
  [style.top.px]="tooltipInfo.pageY + 15"
>
  This is the tooltip
</div> -->
<button (click)="setShowUsers(!willShowUsers)">Toggle show users</button>
<input type="color" [(ngModel)]="textColorforChange" />
<button (click)="triggerColorChange(textColorforChange)">color change</button>
<div *ngIf="willShowUsers" class="spaced">
  <app-users></app-users>
</div>
